 .u-section-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-size: 3rem;
  margin: 153px 2px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  object-position: 68.05% 19.53%;
  width: 490px;
  height: 588px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    pointer-events: auto;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 3.4375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    pointer-events: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 492px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 522px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    height: 468px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  min-height: 203px;
}

.u-section-2 .u-sheet-1 {
  min-height: 432px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 426px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 0 636px 0 336px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 448px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: -48px 430px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: -48px 336px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-right: 511px;
    margin-left: 226px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 341px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 324px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 72px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
    margin-right: 457px;
    margin-left: 155px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 250px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 266px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 360px;
    margin-left: 80px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 168px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: 143px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 94px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -48px;
    margin-right: 120px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 50px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 943px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 148px auto 0;
}

.u-section-3 .u-text-2 {
  width: 659px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 396px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-2 {
  margin-right: 5px;
  font-size: 1.8334em;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-3 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-4 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-5 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-6 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-7 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 0;
}

.u-section-3 .u-icon-8 {
  margin-right: 5px;
  font-size: 1.8334em;
  vertical-align: -10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 327px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.375rem;
  }

  .u-section-3 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.375rem;
  }

  .u-section-3 .u-list-item-5 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.375rem;
  }

  .u-section-3 .u-list-item-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.375rem;
  }

  .u-section-3 .u-list-item-7 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.375rem;
  }

  .u-section-3 .u-list-item-8 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.375rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }
} .u-section-4 {
  min-height: 1316px;
}

.u-section-4 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 200px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 549px;
}

.u-section-4 .u-text-1 {
  margin: -80px 407px 1px 647px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1063px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-2 {
  width: 414px;
  margin: 75px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 6px auto 0 83px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 13px 161px 0 116px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 12px 9px 0 116px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 24px 161px 0 116px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1320px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    margin-left: 452px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: 336px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 61px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 61px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 492px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    margin-left: 238px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: -75px auto 0 336px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 356px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 187px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1566px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 1px;
    min-height: 153px;
  }

  .u-section-4 .u-image-1 {
    width: 78px;
    height: 78px;
    margin-top: 38px;
    margin-left: 72px;
  }

  .u-section-4 .u-text-1 {
    margin: -67px 112px 0 auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1411px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 0;
  }
} .u-section-5 {
  min-height: 68px;
}

.u-section-5 .u-sheet-1 {
  min-height: 955px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1122px;
  margin: 1px 0 1px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 954px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  width: 184px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0 59px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 72px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 10px 214px 0 72px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 18px 205px 0 81px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 799px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 104px;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 104px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-6 {
  min-height: 68px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1117px;
  margin: 2px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 935px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 26px auto 0 347px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -7px auto 0 59px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 72px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 10px 214px 0 72px;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 18px 205px 0 81px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 787px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 292px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: 109px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 224px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1348px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1342px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 14px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-7 {
  min-height: 68px;
}

.u-section-7 .u-sheet-1 {
  min-height: 942px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 942px;
}

.u-section-7 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0 59px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 72px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 10px 214px 0 72px;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 18px 205px 0 81px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: 86px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 1305px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-8 {
  min-height: 68px;
}

.u-section-8 .u-sheet-1 {
  min-height: 942px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 942px;
}

.u-section-8 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0 59px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 72px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 10px 214px 0 72px;
}

.u-section-8 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 18px 205px 0 81px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-8 .u-custom-html-1 {
    margin-right: 86px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 1305px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-9 {
  min-height: 68px;
}

.u-section-9 .u-sheet-1 {
  min-height: 942px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 942px;
}

.u-section-9 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-9 .u-text-1 {
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0 59px;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 10px 0 0 72px;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 10px 214px 0 72px;
}

.u-section-9 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  margin: 18px 205px 0 81px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-9 .u-custom-html-1 {
    margin-right: 86px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 1305px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-10 {
  min-height: 365px;
}

.u-section-10 .u-sheet-1 {
  min-height: 920px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 919px;
}

.u-section-10 .u-container-layout-1 {
  padding: 25px 0 5px;
}

.u-section-10 .u-text-1 {
  width: 269px;
  margin: 9px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 9px auto 0 82px;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  margin: 15px 24px 0 101px;
}

.u-section-10 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  width: 852px;
  margin: 62px 165px 0 123px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 758px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-custom-html-1 {
    margin-top: 63px;
    margin-right: 39px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-custom-html-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 1251px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 35px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  min-height: 857px;
}

.u-section-11 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-11 .u-shape-1 {
  height: 158px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-text-1 {
  font-size: 4.5rem;
  margin: -124px 452px 0 525px;
}

.u-section-11 .u-image-1 {
  width: 115px;
  height: 115px;
  margin: -92px auto 0 361px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1156px;
  margin: 52px auto 60px -2px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 825px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-11 .u-gallery-1 {
  height: 762px;
  width: 1092px;
  margin: 32px auto 0 24px;
}

.u-section-11 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-11 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-11 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-11 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-11 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-11 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 372px;
    margin-left: 442px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 50px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-11 .u-gallery-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 380px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: -105px;
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-11 .u-image-1 {
    margin-left: 201px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-gallery-1 {
    height: 495px;
    margin-top: 28px;
    margin-bottom: -26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 275px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 379px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: auto;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-11 .u-shape-1 {
    height: 125px;
    margin-top: 3px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -78px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-11 .u-image-1 {
    width: 64px;
    height: 64px;
    margin-top: -56px;
    margin-left: 49px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-11 .u-gallery-1 {
    height: 233px;
    width: 340px;
    margin: 0 auto 0 -6px;
  }
} .u-section-12 {
  min-height: 959px;
}

.u-section-12 .u-shape-1 {
  height: 158px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-12 .u-text-1 {
  font-size: 4.5rem;
  margin: -124px 452px 0 calc(((100% - 1140px) / 2)  + 475px);
}

.u-section-12 .u-image-1 {
  width: 115px;
  height: 115px;
  margin: -106px auto 0 calc(((100% - 1140px) / 2)  + 309px);
}

.u-section-12 .u-layout-wrap-1 {
  width: 1106px;
  margin: 43px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-12 .u-layout-cell-1 {
  min-height: 679px;
}

.u-section-12 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-12 .u-text-2 {
  font-size: 4.5rem;
  margin: 3px auto 0;
}

.u-section-12 .u-gallery-1 {
  height: 547px;
  width: 1005px;
  margin: 20px auto 0;
}

.u-section-12 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-12 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-12 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-12 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-12 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-12 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-12 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-12 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 857px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 372px;
    margin-left: calc(((100% - 940px) / 2) + 392px);
    font-size: 3.4375rem;
  }

  .u-section-12 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 309px);
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-12 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-12 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 838px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: -117px;
    margin-right: 289px;
    margin-left: calc(((100% - 720px) / 2)  + 305px);
    font-size: 3rem;
  }

  .u-section-12 .u-image-1 {
    margin-top: -94px;
    margin-left: calc(((100% - 720px) / 2)  + 181px);
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 75px;
    margin-left: auto;
    margin-bottom: 9px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-12 .u-text-2 {
    font-size: 3rem;
    margin-top: 11px;
  }

  .u-section-12 .u-gallery-1 {
    height: 432px;
    margin-top: 40px;
    margin-bottom: -8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 402px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 217px;
    margin-left: calc(((100% - 540px) / 2) + 229px);
  }

  .u-section-12 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 181px);
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-12 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 533px;
  }

  .u-section-12 .u-shape-1 {
    height: 120px;
    margin-top: 38px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -91px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 128px);
  }

  .u-section-12 .u-image-1 {
    width: 72px;
    height: 72px;
    margin-top: -72px;
    margin-left: calc(((100% - 340px) / 2)  + 33px);
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 71px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-12 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-12 .u-gallery-1 {
    height: 174px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} /* Set the size of the iframe */
        iframe {
            width: 100%; /* Full width */
            height: 500px; /* Default height */
        }
        /* Adjust the size of the iframe for smaller screens */
        @media screen and (max-width: 767px) {
            iframe {
                height: 300px; /* Adjust height for mobile screens */
            }
        } 